<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
  <nav>
    <ul>
      <li>
        <a href="/pizzas">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizzas/new">New Pizza</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  </div>
</body>
</html>